p
{
	color:#0000FF;
	font-size:14pt;
	font-weight:bold;
	font-family:Courier;
}

.encabezado{
	background: skyblue;
	color:whitesmoke;
	width: 90%;
	border-radius: 15px;

}
.boton_azul{
	background: skyblue;
	color: whitesmoke;
	width: 150px;
	height: 50px;
	border-radius: 10px;
}
.boton_azul:hover{
	background: whitesmoke;
	color: skyblue;
}
.boton_amarillo{
background: lightyellow;
color: black;
width: 150px;
height: 50px;
border-radius: 10px;
}
.boton_amarillo:hover{
	background: whitesmoke;
	color: yellow;
}
.boton_rojo{
	background: indianred;
	color: whitesmoke;
	width: 150px;
	height: 50px;
	border-radius: 10px;
}
.boton_rojo:hover{
	background: whitesmoke;
	color: indianred;
}
.campo{
	background: black;
	text-align: center;
	color: whitesmoke;
	font-size: 16pt;
	font-weight: bold;
	border-radius: 5px;
}